@model SIG.Entidades.UsuarioEmpleado
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="card-body login-card-body">

        <h4>Recuperar acceso</h4>
        <h6 class="font-weight-light">Ingrese su correo electrónico para brindarle su nuevo acceso temporal:</h6>
        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("RecuperarAcceso", "Login"))
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.correo_electronico, new { @type = "email", @class = "form-control form-control-lg", @id = "exampleInputEmail1", @placeholder = "Correo electrónico" })
            </div>
            <div class="text-center mt-4 font-weight-light">
                <button type="submit" class="btn btn-update">Recuperar Acceso</button>
            </div>
        }

    </div>
</div>
<style>

    .btn-update {
        background: linear-gradient(to right, #65a9ca, #5481a2);
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 6px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
    }

        .btn-update:hover {
            transform: scale(1.1);
            background: linear-gradient(to right, #2c3e50, #4a6d89);
        }
</style>