@model SIG.Entidades.UsuarioEmpleado
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Iniciar Sesion</p>
        <h4>Recuperar acceso</h4>
        <h6 class="font-weight-light">Ingrese su correo electrónico para brindarle su nuevo acceso temporal:</h6>
        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("RecuperarAcceso", "Login"))
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.usuario, new { @type = "email", @class = "form-control form-control-lg", @id = "exampleInputEmail1", @placeholder = "Correo electrónico" })
            </div>
            <div class="text-center mt-4 font-weight-light">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">RECUPERAR ACCESO</button>
            </div>
        }

    </div>
</div>
        

