@model SIG.Entidades.UsuarioEmpleado
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Registro de Usuario";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="~/root/dist/css/registro.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="regis">
            <div class="logo-container">
                <img src="https://firebasestorage.googleapis.com/v0/b/lunes-login202410.appspot.com/o/yjd3b15m_preview_rev_1.png?alt=media&token=8574b583-7a47-44f0-b659-4e2c490a1ba6" alt="Logo Empresa" class="logo">
            </div>

            <p class="titulo">Registro de Usuario</p>

            <form action="/Login/registro" method="post">

                <div class="form-row">
                    <div class="form-group">
                        <label for="nombre">Nombre Completo</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" class="form-control" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="numero_identificacion">Cédula</label>
                        <input type="text" id="numero_identificacion" name="numero_identificacion" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" id="direccion" name="direccion" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" id="telefono" name="telefono" class="form-control" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="correo_electronico">Email</label>
                        <input type="email" id="correo_electronico" name="correo_electronico" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="usuario">Nombre de Usuario</label>
                        <input type="text" id="usuario" name="usuario" class="form-control" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group" style="width: 100%;">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" id="contrasena" name="contrasena" class="form-control" required>
                    </div>
                </div>

                <div class="botones-container">
                    <button type="submit" class="btn btn-success" style="width:250px">Registrar</button>

                    <button type="button" class="btn btn-secondary" style="width:250px" onclick="window.history.back();">Regresar</button>
                </div>

            </form>
        </div>
    </div>

</body>
</html>


