################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SIG/FileContentIndex/acc29e87-0123-45a6-93e3-ce2501bc785c.vsidx
/.vs/SIG/FileContentIndex/c9548efb-489c-4784-be59-488f6e6c791d.vsidx
/.vs/SIG/FileContentIndex/dd698d0c-a1cd-465b-a23d-a074fda915da.vsidx
/.vs/SIG/FileContentIndex/3ad1f47c-78ce-4cb7-b62b-6c93f77db4a0.vsidx
/.vs/SIG/FileContentIndex/46fdfb0c-de04-48e9-9d85-d1eb0cec2a61.vsidx
