################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SIG/FileContentIndex/acc29e87-0123-45a6-93e3-ce2501bc785c.vsidx
/.vs/SIG/FileContentIndex/c9548efb-489c-4784-be59-488f6e6c791d.vsidx
/.vs/SIG/FileContentIndex/dd698d0c-a1cd-465b-a23d-a074fda915da.vsidx
/.vs/SIG/FileContentIndex/3ad1f47c-78ce-4cb7-b62b-6c93f77db4a0.vsidx
/.vs/SIG/FileContentIndex/46fdfb0c-de04-48e9-9d85-d1eb0cec2a61.vsidx
/.vs/SIG/FileContentIndex
/SIG/bin
/SIG/BaseDatos
SIG/obj/Debug/TempPE/BaseDatos.Model1.Designer.cs.dll
SIG/obj/Debug/TempPE/BaseDatos.Model1.cs.dll
SIG/obj/Debug/SIG.pdb
SIG/obj/Debug/SIG.dll
SIG/obj/Debug/SIG.csproj.CoreCompileInputs.cache
SIG/obj/Debug/SIG.csproj.AssemblyReference.cache
SIG/obj/Debug/edmxResourcesToEmbed/BaseDatos/Model1.ssdl
SIG/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SIG/bin/SIG.pdb
SIG/bin/SIG.dll.config
SIG/bin/SIG.dll
SIG/BaseDatos/Venta_Tipo.cs
SIG/BaseDatos/Venta_ProductoEstado.cs
SIG/BaseDatos/Venta_Producto.cs
SIG/BaseDatos/Venta_MetodoPago.cs
SIG/BaseDatos/Venta_FacturaDetalle.cs
SIG/BaseDatos/Venta_Factura.cs
SIG/BaseDatos/Venta_Estado.cs
SIG/BaseDatos/Venta_Cliente.cs
SIG/BaseDatos/Venta_Carrito.cs
SIG/BaseDatos/ValidarExistencias_Result.cs
SIG/BaseDatos/ValidarCorreo_Result.cs
SIG/BaseDatos/top5Clientes_Result.cs
SIG/BaseDatos/Ticket_Tipo.cs
SIG/BaseDatos/Ticket_Prioridad.cs
SIG/BaseDatos/Ticket_Estado.cs
SIG/BaseDatos/Ticket.cs
SIG/BaseDatos/sp_ObtenerHistorialVacaciones_Result.cs
SIG/BaseDatos/sp_ListarTodasVacaciones_Result.cs
SIG/BaseDatos/SolicitudesVacaciones.cs
SIG/BaseDatos/Proveedor.cs
SIG/BaseDatos/Prov_Producto.cs
SIG/BaseDatos/Prov_Pago.cs
SIG/BaseDatos/Prov_Contacto.cs
SIG/BaseDatos/Prov_CompraDetalle.cs
SIG/BaseDatos/Prov_Compra.cs
SIG/BaseDatos/PlanDeAccion.cs
SIG/BaseDatos/Pedido.cs
SIG/BaseDatos/PDA_TipoAccion.cs
SIG/BaseDatos/PDA_Tarea.cs
SIG/BaseDatos/PDA_Estado.cs
SIG/BaseDatos/ObtenerNotificaciones_Result.cs
SIG/BaseDatos/ObtenerHistorialSolicitudesVacaciones_Result.cs
SIG/BaseDatos/ObtenerEmpleadoPorFiltro_Result.cs
SIG/BaseDatos/NotificacionesVencimientoCuentas_Result.cs
SIG/BaseDatos/Notificaciones_usuario.cs
SIG/BaseDatos/Notificaciones_basicas.cs
SIG/BaseDatos/Notificaciones.cs
SIG/BaseDatos/Modulos.cs
SIG/BaseDatos/Model1.edmx.diagram
SIG/BaseDatos/Model1.edmx
SIG/BaseDatos/Model1.Designer.cs
SIG/BaseDatos/Model1.cs
SIG/BaseDatos/Model1.Context.cs
SIG/BaseDatos/listaTipoVenta_Result.cs
SIG/BaseDatos/ListarCxP_Result.cs
SIG/BaseDatos/ListarCxC_Result.cs
SIG/BaseDatos/listaMetodoPago_Result.cs
SIG/BaseDatos/ListaEntidadesFinancieras_Result.cs
SIG/BaseDatos/ListaCuentasContables_Result.cs
SIG/BaseDatos/Informe_Ventas_Result.cs
SIG/BaseDatos/HistorialPedido.cs
SIG/BaseDatos/HistorialModificacion.cs
SIG/BaseDatos/HistorialAjustesCxP_Result.cs
SIG/BaseDatos/HistorialAjustesCxC_Result.cs
SIG/BaseDatos/GetEmpleadoById_Result.cs
SIG/BaseDatos/GenerarEstadoResultados_Result.cs
SIG/BaseDatos/GenerarBalanceGeneral_Result.cs
SIG/BaseDatos/GeneraFacturaEncabezado_Result.cs
SIG/BaseDatos/GeneraFacturaDetalle_Result.cs
SIG/BaseDatos/EstadosFinancieros.cs
SIG/BaseDatos/EstadoCompra.cs
SIG/BaseDatos/Entregas.cs
SIG/BaseDatos/EntidadesFinancieras.cs
SIG/BaseDatos/Empleado.cs
SIG/BaseDatos/Emp_RemuneracionDeduccion.cs
SIG/BaseDatos/Emp_Puesto.cs
SIG/BaseDatos/Emp_Departamento.cs
SIG/BaseDatos/Emp_ContactoEmergencia.cs
SIG/BaseDatos/Emp_Capacitacion_Participantes.cs
SIG/BaseDatos/Emp_Capacitacion.cs
SIG/BaseDatos/Emp_BitacoraIngreso.cs
SIG/BaseDatos/distribMetodoPago_Result.cs
SIG/BaseDatos/DiasVacacionesDisponibles.cs
SIG/BaseDatos/datosRecibo_Result.cs
SIG/BaseDatos/Conta_Transaccion.cs
SIG/BaseDatos/Conta_TipoTransaccion.cs
SIG/BaseDatos/Conta_CxP.cs
SIG/BaseDatos/Conta_CxC.cs
SIG/BaseDatos/Conta_CuentasContables.cs
SIG/BaseDatos/ConsultarPedidos_Result.cs
SIG/BaseDatos/ConsultarDetallePedido_Result.cs
SIG/BaseDatos/ConsultarClientes_Result.cs
SIG/BaseDatos/ConsultarCarrito_Result.cs
SIG/BaseDatos/cierre_contable_Result.cs
SIG/BaseDatos/CategoriaPlan.cs
SIG/BaseDatos/Catalogo_Compra.cs
SIG/BaseDatos/Audit_Venta_Producto.cs
SIG/BaseDatos/Adm_Rol.cs
SIG/BaseDatos/Adm_Permiso.cs
SIG/BaseDatos/actualizaInventario_Result.cs
