@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.warning != null)
{
    <h3 style="text-align: center; color: #e74c3c; font-size: 16px;">
        @ViewBag.warning
    </h3>
}

<div style="width: 600px; margin: 50px auto; background-color: #FFFFFF; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); border-radius: 10px; overflow: hidden; text-align: center; padding: 20px 30px;">
    <div style="margin-bottom: 20px;">
        <img src="https://acciontrabajo.co.cr/biz_pic/yjd3b15m" alt="Logo de la Empresa" style="width: 150px; height: auto;">
    </div>
    <h1 style="font-size: 24px; font-weight: bold; color: #333; margin-bottom: 15px;">¡Bienvenido al Sistema de Gestión!</h1>
    <p style="font-size: 16px; color: #555; line-height: 1.5; margin-bottom: 20px;">
        Estamos encantados de tenerte aquí. Usa el menú lateral para navegar por las opciones del sistema y realizar tus tareas de manera eficiente.
    </p>
</div>